.map-wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;

    &-xs {
        position: absolute;
        right: auto;
        left: 0;
        width: 100vw;
        height: calc(100vh - 125px);
        margin-top: 125px;
        margin-right: 0;
    }

    &--hidden {
        display: none;
    }
}

.map {
    width: 100%;
    height: 100%;

    &-outer {
        border: 2px solid $gray-400;
        width: 100%;
        height: 471px;
        position: relative;
    }
}
